<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p class="home-title-content">
        <%= startingContent %>
    </p>


    <% posts.forEach(function(post){ %>
        <div class="post">
            <h1 class="post-title">
                <%=post.title%>
            </h1>
            <p class="post-content">
                <%=post.content.substring(0, 100) + " ..." %>
                    <a href="/posts/<%=post._id%>">Mehr lesen</a>
            </p>
        </div>
    <% }); %>



    <% console.log(posts); %>
    <%- include("partials/footer"); -%>